@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, #ffffff, #f1f2f6);
}

.calculator-body {
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, .5);
    border-radius: 25px;
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    background-color: #ced6e0;
}



.calc-display {
    margin-top: 50px;
    text-align: right;  
    font-family: 'Cairo', sans-serif;
    padding-right: 15px;
    width: 95%;
    height: 150px;
    background-color: #dfe4ea;
    border: transparent;
    border-radius: 15px;
    position: relative;
}
.calc-display .prev-num {
    position: absolute;
    right: 15px;
    bottom: 20px;
    color: #a4b0be;
    font-size: 32px;
}
.calc-display .current-num {
    font-size: 56px;
    color: #57606f;
}

.calc-display:focus {
    outline: none;
}

button {
    background-color: #dfe4ea;
    border: none;
    border-radius: 10px;
    font-family: 'Cairo';
    font-size: 36px;
    color: #57606f;
}

button:focus{
    border: none;
    outline: none;
}

button:hover {
    box-shadow:0px 0px 3px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.el-grid {
    margin-top: 45px;
    display: grid;
    grid-gap: 26px;
    grid-template-columns: repeat(5, 82px);
    grid-template-rows: repeat(5, 82px);
}

.equals {
    color: #f5f6fa;
    background-color: #ff4757;
}

.equals {
    height: 88%;
    grid-column-start: 5;
    grid-row-start: 4;
    grid-row-end: last-line;
}

.calculation {
    animation-name: calculate;
    animation-duration: .2s;
}

.prev-anim{
    animation-name: previa;
    animation-duration: .2s;
}

@keyframes calculate {
    0% {
        opacity: 0;
        padding-top: 45px;
    }
    100% {
        padding-right: 0;
    }
}

@keyframes previa {
    0% {
        opacity: 0;
        right: 45px;
    }
    100% {
        right: 15px;
    }
} 